# Ignore Gradle project-specific cache directory
.gradle

# Ignore Eclipse Project files from here out.
.project
.classpath
.settings

# Ignore binaries from dev machines
/bin/

# Ignore Gradle build output directory
build
